<div class="m-3" *ngIf="loaded">
    <h2>Сообщение {{message.id}}</h2>
    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">Имя:</label>
        </div>
        <div class="col">
            <output>{{contact.name}}</output>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">Email:</label>
        </div>
        <div class="col">
            <output>{{contact.email}}</output>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">Телефон:</label>
        </div>
        <div class="col">
            <output>{{contact.phoneNumber}}</output>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">Тема:</label>
        </div>
        <div class="col">
            <output>{{topic.title}}</output>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">Сообщение:</label>
        </div>
        <div class="col">
            <output>{{message.text}}</output>
        </div>
    </div>
    <p><a routerLink="/" class="nav-link">На главную страницу</a></p>
</div>